ErrorDocument 301 http://example.com/dashboard/error
ErrorDocument 403 http://example.com/dashboard/error

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
<Files "config.php">  
  Order Allow,Deny
  Deny from all
</Files>

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
